python-telegram-bot[webhooks]==22.6
python-dotenv==1.2.2
supabase==2.28.0
flask==3.0.0
gunicorn==25.1.0
APScheduler==3.10.4
Flask-CORS==4.0.0
honcho==2.0.0
asgiref==3.8.1
redis==5.0.1
sentry-sdk[flask]==1.38.0
pydantic>=2.7.0